<div class="html-content-wrapper ql-snow">
    <div class="ql-editor" style="@(Borderless ? "border:none" : null)">
        @((MarkupString)Html)
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Html { get; set; } = "";
    [Parameter]
    public bool Borderless { get; set; } = false;
}
