@page "/"

<PageTitle>MudHtmlEditor &middot; Blazor WebAssembly Demo</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">MudHtmlEditor Demo</MudText>

<MudStack>
    @if (_isEditing)
    {
        <EditorView InitialHtml="@_lastSavedHtml" OnCancel="StopEditing" OnSave="SaveChanges" />
    }
    else
    {
        <MudStack Justify="Justify.FlexEnd" Row="true">
            <MudButton Color="Color.Primary" OnClick="StartEditing" Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled">Edit this content</MudButton>
        </MudStack>

        <MudHtmlViewer Html="@_lastSavedHtml" />
    }
</MudStack>

@code {

    private string _lastSavedHtml = "<h1 class=\"ql-align-center\">Hello, World!</h1><hr/><p class=\"ql-align-center\">Hi from Blazor + <a href=\"https://quilljs.com/\" target=\"_blank\">QuillJs</a></p>";
    private bool _isEditing = true;

    private void StartEditing()
    {
        _isEditing = true;
    }

    private void StopEditing()
    {
        _isEditing = false;
    }

    private void SaveChanges(string html)
    {
        _lastSavedHtml = html;
        StopEditing();
    }
}