@page "/"

<MudText Typo="Typo.h3" GutterBottom="true">MudHtmlEditor Demo</MudText>

<MudStack>
    @if (_isEditing)
    {
        <MudStack Justify="Justify.FlexEnd" Row="true">
            <MudButton OnClick="CancelEditing" Size="Size.Small">Cancel</MudButton>
            <MudButton Color="Color.Primary" OnClick="SaveChanges" Size="Size.Small" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled">Save Changes</MudButton>
        </MudStack>

        <MudPaper Outlined="true" Style="resize: both; overflow: hidden; min-height: 150px;">
            <MudHtmlEditor @bind-Html="@_editableHtml" />
        </MudPaper>
    }
    else
    {
        <MudStack Justify="Justify.FlexEnd" Row="true">
            <MudButton Color="Color.Primary" OnClick="StartEditing" Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled">Edit this content</MudButton>
        </MudStack>

        <MudHtmlViewer Html="@_lastSavedHtml" />
    }

</MudStack>

@code {

    private string _lastSavedHtml = "<h1 class=\"ql-align-center\">Hello, World!</h1><hr/><p class=\"ql-align-center\">Hi from Blazor + <a href=\"https://quilljs.com/\" target=\"_blank\">QuillJs</a></p>";
    private string _editableHtml = "";
    private bool _isEditing;

    protected override void OnInitialized()
    {
        _editableHtml = _lastSavedHtml;
    }

    private void StartEditing()
    {
        _isEditing = true;
    }

    private void CancelEditing()
    {
        _editableHtml = _lastSavedHtml;
        _isEditing = false;
    }

    private void SaveChanges()
    {
        _lastSavedHtml = _editableHtml;
        _isEditing = false;
    }
}